.form {
    /* width:50%; */
  height: 10rem;
  /* padding-left: 5rem; */
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 /* align-items:center */
}

.form h2{
    font-size: 2rem;
    color: blanchedalmond;
}

.form input{
    width:14rem;
    height:1.85rem;
    border-radius: 0.25rem;
    outline: none;
    border:none;
    font-size: 1.2rem;
    font-weight: 500;
}
